/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 3531559 */
  src: url('//at.alicdn.com/t/c/font_3531559_cnk9y4x4umn.woff2?t=1681262973517') format('woff2'),
       url('//at.alicdn.com/t/c/font_3531559_cnk9y4x4umn.woff?t=1681262973517') format('woff'),
       url('//at.alicdn.com/t/c/font_3531559_cnk9y4x4umn.ttf?t=1681262973517') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhengyuanhu:before {
  content: "\eddb";
}

.icon-quxianlujing:before {
  content: "\ec36";
}

.icon-quxian:before {
  content: "\e636";
}

.icon-xinxi:before {
  content: "\eae3";
}

.icon-tuozhuai:before {
  content: "\e656";
}

.icon-piliangcaozuo:before {
  content: "\e66d";
}

.icon-huaxian:before {
  content: "\e691";
}

.icon-24gl-grid:before {
  content: "\ea99";
}

.icon-24gl-square:before {
  content: "\ea98";
}

.icon-zhandian:before {
  content: "\e66b";
}

.icon-ding:before {
  content: "\eac1";
}

.icon-gongneng_dian:before {
  content: "\e615";
}

.icon-zhinengkeji-icon-9:before {
  content: "\e60c";
}


.icon-gonglu:before {
  content: "\e618";
}

.icon-fangda:before {
  content: "\ec13";
}

.icon-quanping:before {
  content: "\ec14";
}

.icon-zhongzhi:before {
  content: "\e63a";
}

.icon-suoxiao:before {
  content: "\e61b";
}

.icon-Icon_lujinghuizhi:before {
  content: "\e631";
}

.icon-dianweipeizhi:before {
  content: "\e64f";
}

.icon-auto:before {
  content: "\e6eb";
}

.icon-all:before {
  content: "\e6ef";
}

.icon-bussiness-man:before {
  content: "\e6f0";
}

.icon-component:before {
  content: "\e6f2";
}

.icon-code:before {
  content: "\e6f3";
}

.icon-copy:before {
  content: "\e6f4";
}

.icon-dollar:before {
  content: "\e6f5";
}

.icon-history:before {
  content: "\e6f8";
}

.icon-editor:before {
  content: "\e6f6";
}

.icon-gift:before {
  content: "\e6f9";
}

.icon-integral:before {
  content: "\e6fa";
}

.icon-nav-list:before {
  content: "\e6fd";
}

.icon-pic:before {
  content: "\e6ff";
}

.icon-Notvisible:before {
  content: "\e6fe";
}

.icon-play:before {
  content: "\e701";
}

.icon-rising:before {
  content: "\e703";
}

.icon-QRcode:before {
  content: "\e704";
}

.icon-similar-product:before {
  content: "\e707";
}

.icon-Exportservices:before {
  content: "\e702";
}

.icon-sendinquiry:before {
  content: "\e70d";
}

.icon-all-fill:before {
  content: "\e718";
}

.icon-favorites-fill:before {
  content: "\e721";
}

.icon-integral-fill:before {
  content: "\e726";
}

.icon-namecard-fill:before {
  content: "\e72a";
}

.icon-pic-fill:before {
  content: "\e72e";
}

